.titulo{
	font-weight:bold;
	margin-left:20px;
	font-size:20px;
}

.button_panel{
	display:inline-block;
	margin-top:20px;
	margin-left:20px;
}

.button_panel img,#data_edit img{
	margin-right:3px;
}

th {
    text-align:left;
    border-bottom:1px solid #000000;
}

.button{
	text-decoration:none;
	background-color:#00b208;
	padding:8px;
	color:#ffffff;
}

.button:hover{
	background-color:#00dd16;
}

.data-edit{
	display:inline-block;
	margin-left:20px;
}
 
#data_edit{
	margin-top:20px;
}

.date{
	width:80px;
}

.responsavel{
	width:300px;
}

.save-cancel{
	margin-top:20px;
	margin-left:20px;
}

.save-cancel a{
	margin-right:20px;
}

.row-data{
	margin-top:5px;
}

#nr_pessoas{
	width:16px;
}

thead,tbody{
	display:block;	
}

tbody {
    height: 300px;
    overflow: auto;
}

table {
    border-collapse: separate;
    border-spacing: 20px 5px;
    border-bottom: 1px solid #000000;
}

tbody tr:hover{
	background-color:#e0e0eb;
}

